@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
.container h2 {
    text-align: center;
    font-size: 2em;
    color: #e1e3e2
}
.container {
    background-color: black;
    color: white;
    padding: 3% 8%;
}
#contact div {
    display: inline-block;
    width: 33.3%;
    margin-bottom: 1%;
}
#about {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
#header {
    text-align: center;
}
#picture {
    border-radius: 50%;
    width: 100px;
}
.category h1 {
    text-align: center;
}
.category {
    width: 33.3%;
    display: inline-block;
}
.category .technology {
    padding: 10px;
}
.category .technology .techName {
    float: left
}
.category .technology .techLevel {
    float: right;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 206, 0, 0.3);
    margin: 1em 0;
    padding: 0;
}
hr:last-child {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 206, 0, 0.5);
    margin: 1em 0;
    padding: 0;
}
.container > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 206, 0, 0.5);
    margin: 1em 0;
    padding: 0;
}
#languagesSection .language .languageLevel {
    float: right;
}
#languagesSection .language .languageName {
    float: left;
}
#languagesSection .language:not(:last-child) {
    border-right: 1px solid white;
}
#languagesSection .language {
    width: 20%;
    padding-right: 2%;
    padding-left: 2%;
    display: inline-block;
}
#experienceSection .position {
    font-weight: bold;
    font-size: 1.3em;
}
.date-range {
    font-style: italic;
}
#educationSection .institution {
    font-weight: bold;
    font-size: 1.2em;
}
#projectsSection div {
    margin-top: 1em;
}
#projectsSection .projectName {
    text-decoration: none;
    color: #88cdea;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
}
#infoSection #name {
    margin-bottom: 10px;
}
#infoSection #title {
    margin-top: 0px;
}
#projectsSection b {
    color: #8c9396;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999999;
}
.loading-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 2em;
    line-height: 100px;
}
.loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
}
.loading-text span:nth-child(1) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
    animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
    animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
    animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
    animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
    animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
    animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
    animation: blur-text 1.5s 1.2s infinite linear alternate;
}
@-webkit-keyframes blur-text {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}
@keyframes blur-text {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}